<div  style="min-height: 25vh" class=" justify-content-center align-items-center d-flex ">
          
          
  <div class="col col-7">
    <div class="row">
      <h6>
        Name:  {{resto.key.name}}
      </h6> 
    </div>
    <div class="row">
      <h6>
        Address:  {{resto.key.address}}
      </h6> 
    </div>
    <div class="row">
      <h6>
        Phone:  {{resto.key.phone}}
      </h6> 
    </div>
    <div class="row">
      <h6>
        Description:  {{resto.key.desc}}
      </h6> 
    </div>
    <div class="row">
      <h6>
        tags:  {{resto.key.tags}}
      </h6> 
    </div>
    
   
  </div>
</div>