<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="container d-flex">
      <ion-title>
        Restaurant App
      </ion-title>
      
      <a routerLink="about-us" routerLinkActive="active" >About Us</a>
    </div>
    
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
 
  
  <div id="container" class="container my-3 py-3 ">
    <input [(ngModel)]="searchText" >
    
    <button class=" my-3 mx-1 btn btn-sm btn-danger " (click)="clearTagAndSearch()">
      Clear filters
    </button>
    <div  class="d-flex row">
      
      <div class="my-2 col-12"  *ngFor="let resto of restaurants | slice: (page-1) * pageSize : page * pageSize">
        
        <div class=" justify-content-center align-items-center d-flex ">
          
          
          <div class="col col-7">
            <div class="row">
              <h6>
                Name:  {{resto.key.name}}
              </h6> 
            </div>
            <div class="row">
              <h6>
                Address:  {{resto.key.address}}
              </h6> 
            </div>
            <div class="row">
              <h6>
                Phone:  {{resto.key.phone}}
              </h6> 
            </div>
            <div class="row">
              <h6>
                Description:  {{resto.key.desc}}
              </h6> 
            </div>
            <div class="row d-flex  align-items-center">
              <h6>
                tags: </h6>   <div  *ngFor="let tag of resto.key.tags">
               <span (click)="handleTag(tag)" class="badge badge-info mx-1 mb-1 d-flex justify-content-center align-items-center " >

                 {{tag}}
               </span>
              </div>
             
              
            </div>
            <div class="row">
              <h6>
                Rating: {{resto.key.stars}}
              </h6> 
              <star-rating [value]="resto.key.stars" [totalstars]="totalstars" checkedcolor="yellow" uncheckedcolor="white" size="24px" readonly="{{false}}" (rate)="onRate($event,resto)"></star-rating>
            </div>
            
            
          </div>
          <div class="">
          <div class="row m-2">
          <button
            (click)="open(content)">
            info
          </button> 
        </div>
        <div class="row m-2">
          <button (click)='deleteLoc(resto.value)'>Delete</button>
        </div>
        <div class="row m-2">
<button (click)='open(add, resto)'>edit</button>
</div>
</div>
</div>
<ng-template  #content let-modal>
          <app-resto-details [resto]="resto" ></app-resto-details>
        </ng-template>
      </div>
    </div>  <button class=" my-3 mx-1 btn btn-sm btn-success " (click)="open(add)">
    Add Restaurant
  </button>
    <div class="d-flex my-3 py-3 justify-content-center">
      <ngb-pagination [collectionSize]="collectionSize" [pageSize]='pageSize' [(page)]="page" aria-label="Default pagination"></ngb-pagination>
      
    </div>
  </div>

  <ng-template  #add let-modal>
    <app-add-resto [selectedResto]="selectedResto" [(getRestos)]="getRestos" [close]="modal"></app-add-resto>
  </ng-template>
</ion-content>
<!-- <ion-router-outlet>
  <app-about-us ></app-about-us>
</ion-router-outlet> -->
